/* quiz.css */
body {
  font-size: 24px;
  max-width: 100%;
  text-align: center;
}

#question-container {
  margin: 20px;
}

/* 選択肢のスタイルを大きくし、色を変更 */
#options button {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #009933;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
}

#options button:hover {
  background-color: #007A29;
}

/* リザルト画面のスタイル */
#result-container {
  background-color: #007BFF;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  text-align: left; /* テキストを左寄せにする */
}

#correct-count {
  font-size: 28px;
  margin: 10px;
}

#wrong-questions {
  font-size: 20px;
  margin: 20px;
}

/* 不正解問題のスタイル */
#wrong-questions ul {
  list-style-type: none; /* リストマーカーを削除 */
  padding: 0;
}

#wrong-questions li {
  margin: 15px 0;
  padding: 10px;
  background-color: #ff3333; /* 不正解問題の背景色（例：赤色） */
  color: #fff;
  border-radius: 5px;
}
