/* quiz.css */
body {
  font-size: 24px;
  max-width: 100%;
  text-align: center;
}

#question-container {
  margin: 20px;
}

/* 選択肢のスタイルを大きくし、色を変更 */
#options button {
  font-size: 24px; /* 選択肢の文字サイズを大きくする */
  padding: 10px 20px; /* ボタンの余白を調整する */
  background-color: #009933; /* 選択肢の背景色（例：緑色） */
  color: #fff; /* 選択肢の文字色を白にする */
  border-radius: 5px; /* 選択肢の角を丸くする */
  margin: 10px; /* 選択肢の間隔を調整 */
}

#options button:hover {
  background-color: #007A29; /* マウスオーバー時の背景色（例：濃い緑色） */
}
