/* quiz.css */
body {
  font-size: 24px;
  max-width: 100%;
  text-align: center;
}

#question-container {
  margin: 20px;
}

/* 選択肢のスタイルを大きくし、色を変更 */
#options button {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #009933;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
}

#options button:hover {
  background-color: #007A29;
}

/* リザルト画面のスタイル */
#result-container {
  background-color: #007BFF; /* リザルトの背景色（例：青色） */
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

#correct-count {
  font-size: 28px; /* 正解数の文字サイズを大きくする */
  margin: 10px;
}

#wrong-questions {
  font-size: 20px; /* 間違えた問題の文字サイズを調整 */
  margin: 20px;
}
